.*.sw[op]
*.bak
*.report
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.pdf
*.pdf_tex
*.out
*.dwl
*.dwl2
*.bak
__pycache__
*.bbl
*.blg
*.bcf
*.run.xml
*.toc
*.lof
*.lol
*.nav
*.snm
*.lot
.tmp/
*.pyc
*.pyg
*.inc.tex
_minted-*/
*.qgz
release.zip
.faux*
